language: csharp

dotnet: 2.1.4
sudo: false

env: 
    global:
        - DOTNET_CLI_TELEMETRY_OPTOUT: 1

script: 
    - dotnet build FSharpWebAppWithCIDemo.sln -c Release
    - dotnet test -c Release --no-build ukpo_test/ukpo_test.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

